h1 {
    text-align: center;
}

.marker {
    height: 25px;
    width: 200px;

    /*When you use two values for the shorthand margin property, it sets margin-top and margin-bottom to the first value,
    and margin-left and margin-right to the second value */
    margin: 10px auto;
}


/* A function is a piece of code that can take an input and perform a specific action */
.one {
    /* Mixing full intensity of red and green will make yellow */
    /* Mixing full intensity of red and half of green will make orange */
    /* Mixing half of red and full intensity of green will make chartreuse green */
    background-color: rgb(127, 255, 0);
}

.two {
    /* Mixing full intensity of green and blue will make cyan */
    /* Mixing full intensity of green and half of blue will make spring green */
    /* Mixing half of green and full intensity of blue will make azure*/
    background-color: rgb(0, 127, 255);
}

.three {
    /* Mixing full intensity of blue and red will make magenta */
    /* Mixing full intensity of blue and half of red will make violet */
    /* Mixing half of blue and full intensity of red will make rose */
    background-color: rgb(255, 0, 127);
}

/* You can get secondary colors by mixing primary colors with each other. */
/* You can get tertiary colors by combining a primary color with a nearby secondary color. */
.container {
    background-color: rbg(255, 255, 255);
    padding: 10px 0;
}