h1 {
    text-align: center;
}

.marker {
    background-color: red;
    height: 25px;
    width: 200px;

    /*When you use two values for the shorthand margin property, it sets margin-top and margin-bottom to the first value,
    and margin-left and margin-right to the second value */
    margin: 10px auto;

}